.carousel {
  .carousel__item {
    width: 100%;
    position: relative;

    .carousel__button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      background: 0 0;
      border: none;
      opacity: 0;

      &:hover {
        opacity: 0.6 !important;
      }
    }

    &:hover .carousel__button{
      opacity: 1;
    }

    img {
      display: block;
      width: 100%;
      max-height: 560px;
    }
  }

  .carousel__itemIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    i {
      font-size: $fs-6;
      color: $color-white-0;
      border: solid 1px $color-white-0;
      border-radius: 50%;
      padding: $pd-3 $pd-3 $pd-3 $pd-4;
      font-weight: bold;
    }
  }

  .slick-prev:before,
  .slick-next:before {
    font-size: 35px;
    color: $color-white-0;
  }

  .slick-prev {
    position: absolute;
    top: 50%;
    left: 5%;
    z-index: 1;
    cursor: pointer;

    img {
      width: 40px;
      height: 40px;
    }
  }

  .slick-next {
    position: absolute;
    top: 50%;
    right: 5%;
    z-index: 1;
    cursor: pointer;

    img {
      width: 40px;
      height: 40px;
    }
  }

  .slick-dots {
    position: absolute;
    bottom: 10%;

    li {
      button:before {
        font-size: 15px;
        color: $color-white-0;
        opacity: 1;
      }
    }

    li.slick-active {
      button:before {
        color: $color-red-1;
      }
    }
  }
}
